 <%= render 'layouts/user_header' %>
 <main class="clearfix">
 	<div class="main-area clearfix">
 		<div class="mypage-area">
 		</div>
	 	<section class="contents">
	    <div class="contents_inner">
	      <div class="col-xs-4">
	      	<p class="main-link1">Favourites</p>
	    	</div>
	      <div class="col-xs-4">
	      	<p class="main-link2">New Event</p>
	      </div>
	      <div class="col-xs-4">
	      	<p class="main-link3">My Events</p>
	      </div>
	    </div>
		</section>
	</div>
 </main>