<main>
	<div class="trapezoid_area_left">
		<p class="title-text">
			Welcome<br>
			to
		</p>
		<p class="title">
			Chronus
		</p>
		<p class="sub-text">
			Time scheduling Application for all
		</p>

		<div class="logo">
			logo
		</div>
		<p class="bottom-text">
			<%= link_to "about us", about_path, class: "link-decoration" %>
		</p>
	</div>
	<div class="trapezoid_area_right">
	</div>
</main>