/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

/*common*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
.link-decoration{
	text-decoration: none;
	color: black;
}

// ヘッダー
header{
	width: 90%;
	margin: 0 auto;
}
.header-logo{
	height: 80px;
	border-radius: 50%;
	border: 1px solid black;
	margin-top: 10px;
}
.header-main{
	height: 100px;
	border: 1px solid black;
	padding: 0;
}
.header-top{
	height: 70px;
	border: 1px solid black;
	padding: 0;
}
.header-bottom{
	height: 30px;
	border: 1px solid black;
}
.header-link-top{
	text-align: center;
	line-height: 70px;
	font-size: 44px;
}
.header-link-bottom{
	text-align: center;
	line-height: 30px;
	font-size: 14px;
}

// main
main{
	width: 90%;
	margin: 0 auto;
	padding: 30px 0;
}
.main-area{
  width: 100%;
  border: 1px solid black;
}
.main-trapezoid-area{
	width: 100%;
	border-top: 200px solid #b0c4de;
	border-left: 200px solid transparent;
	height: 0;
	font-weight: bold;
	color: #666;
}
.contents {
  position: relative;
  overflow: hidden;
}
.contents:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  margin: 2% -10% 0;
  background: #011931;
  transform-origin: right center;
  transform: rotate(-2deg);
  z-index: -1;
}
.contents_inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 150px 10px 120px;
  color: #fff;
  text-align: center;
}
.main-link1{
	font-size: 50px;
	line-height: 10px;
}
.main-link2{
	font-size: 60px;
	line-height: 10px;
}
.main-link3{
	font-size: 70px;
	line-height: 10px;
}

// ログイン画面
.trapezoid_area{
	position: absolute;
	top: 0;
	left: 10%;
  width: 80%;
  border-bottom: 800px solid #b0c4de;
  border-right: 300px solid transparent;
  height: 0;
  font-weight: bold;
  color: #666;
}
.logo2{
	float: right;
	margin-top: 30px;
	margin-right: 150px;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 1px solid black;
}
.title1{
	padding: 40px 0 80px 60px;
}
.title2{
	padding: 40px 0 40px 60px;
}
.field{
	padding-left: 100px;
}
.log-in-button{
	padding-top: 150px;
}
.password-link{
	text-decoration: none;
	color: #d3d3d3;
}
.create-button{
	margin-top: 45px;
}