/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

/*common*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
.link-decoration{
	text-decoration: none;
	color: black;
}

// ログイン画面
.trapezoid_area{
	position: absolute;
	top: 0;
	left: 10%;
  width: 80%;
  border-bottom: 800px solid #b0c4de;
  border-right: 300px solid transparent;
  height: 0;
  font-weight: bold;
  color: #666;
}
.logo2{
	float: right;
	margin-top: 30px;
	margin-right: 150px;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 1px solid black;
}

.title1{
	padding: 40px 0 80px 60px;
}
.title2{
	padding: 40px 0 40px 60px;
}
.field{
	padding-left: 100px;
}
.log-in-button{
	padding-top: 150px;
}
.password-link{
	text-decoration: none;
	color: #d3d3d3;
}
.create-button{
	margin-top: 45px;
}