<header class="clearfix">
  <%= link_to root_path do%>
  <div class="col-lg-1">
    <div class="header-logo">
      logo
    </div>
  </div>
  <% end %>
  <div class="header-main col-lg-10">
    <div class="header-top col-lg-12">
      <p class="header-link-top">My CLOCK</p>
    </div>
    <div class="header-bottom col-lg-4">
      <p class="header-link-bottom">CALENDER</p>
    </div>
    <div class="header-bottom col-lg-4">
      <p class="header-link-bottom">EVENTS</p>
    </div>
    <div class="header-bottom col-lg-4">
      <p class="header-link-bottom">TV Program</p>
    </div>
  </div>
  <div class="hamberger col-lg-1">
    hamberger
  </div>
</header>